# Vent Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/cleaned_messages.csv')

In [4]:
df.tail()

                      date                                               text
20081  2024-11-24T05:00:31  ['Hey Unihorse \nI am ', {'type': 'mention_nam...
20082  2024-11-24T05:00:35  ['Hey Unihorse \nI am  Ketie\nI need to vent\n...
20083  2024-11-24T05:00:45  ["Hey Unihorse \nHide my Identity\nI need to v...
20084  2024-11-24T05:00:46  ["Hey Unihorse \nHide my Identity\nI need to v...
20085  2024-11-24T05:00:47  ['Hey Unihorse \nHide my Identity\nI need to v...